In [10]:
import pandas as pd
import numpy as np
import pymysql 
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

connection_str = "mysql+pymysql://root:root@localhost:3307/books_db"

In [11]:
engine = create_engine(connection_str)

In [9]:
#create_database(connection_str)
#if database_exists(connection_str) == False: create_database(connection_str)
#else: print('The database already exists.')

In [12]:
users_table = pd.read_csv('Data/users.txt')
users_table.head()

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [13]:
books_table = pd.read_csv('Data/books.txt')
books_table.head()

   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4

In [14]:
authors_table = pd.read_csv('Data/authors.txt')
authors_table

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [15]:
fav_table = pd.read_csv('Data/favorites.txt')
fav_table

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5
5        3        5
6        3        6