In [1]:
import pandas as pd
import numpy as np
import pymysql 
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

connection_str = "mysql+pymysql://root:root@localhost:3307/books_db"

In [5]:
engine = create_engine(connection_str)

In [6]:
create_database(connection_str)

In [7]:
df = pd.read_csv('Data/data.csv')

In [8]:
df.head()

,First Name,Last Name,Email,Book Title,Book Author
0,John,Doe,JD@books.com,The Shining,Stephen King
1,John,Doe,JD@books.com,It,Stephen King
2,John,Doe,JD@books.com,The Great Gatsby,F. Scott Fitzgerald
3,Robin,Smith,Robin@books.com,The Call of the Wild,Jack London
4,Robin,Smith,Robin@books.com,Pride and Prejudice,Jane Austen