In [2]:
import pymysql 
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

connection_str = "mysql+pymysql://root:root@localhost:3307/new_first_db"

In [3]:
engine = create_engine(connection_str)

In [4]:
create_database(connection_str)

In [5]:
## Check if database exists, if not, create it // 
## If the database with that name already exists, you need to choose a different name.


#if database_exists(connection_str) == False: create_database(connection_str)
#else: print('The database already exists.')

In [15]:
import pandas as pd
df=pd.read_csv('Data/Tshirt.csv')
df.head()

  Size  Color  Cost Sold
0    S   Blue  5.00    Y
1    M    Red  7.49    Y
2    M  Green  8.00    N
3   XL  Green  4.00    N
4    L    Red  9.99    Y

In [12]:
df.to_sql('tshirts', engine, if_exists='replace')

9

In [14]:
q = '''
SELECT * 
FROM tshirts
LIMIT 3'''
pd.read_sql(q, engine)

   index Size  Color  Cost Sold
0      0    S   Blue  5.00    Y
1      1    M    Red  7.49    Y
2      2    M  Green  8.00    N